{
  "extends": "airbnb",

  "env": {
    "browser": true,
    "mocha": true
  },

  "parser": "babel-eslint",

  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-no-bind": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/no-multi-comp": [2, {"ignoreStateless": true}],
    "react/prefer-es6-class": 0,
    "react/prefer-stateless-function": 0,
    "react/prop-types": 1,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "new-cap": 0,
    "no-else-return": 0,
    "arrow-body-style": 0,
    "arrow-spacing": 1,
    "object-curly-spacing": 1,
    "semi": [1, "never"],
    "indent": [1, 2, {"SwitchCase": 1}],
    "max-len": [1, 140, 2],
    "quotes": 1,
    "no-plusplus": 0,
    "quote-props": [1, "consistent-as-needed"],
    "import/extensions": 0,
  },
    "globals": {
      "$": true,
      "sinon": true,
      "chai": true,
      "mount": true,
      "expect": true,
      "shallow": true,
      "React": true
  }
}
