@import 'src/variables';

.app {
  font-size: $font-size-base;
  font-family: 'Avenir Next', sans-serif;
}

.page-body {
  padding: $space-base;
  margin-top: $header-height;
}

.error {
  color: red;
}

h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

a:hover {
  cursor: pointer;
}

button {
  @include button-style;
}

input[type="submit"] {
  @include button-style;
}
