@import "src/variables";

.header {
  li {
    display: inline-block;
    margin: $space-base;
  }
  text-align: right;
  position: fixed;
  top: 0;
  z-index: 10;
  background: $dark-grey;
  color: $light-grey;
  width: 100%;
  // padding: $space-base;
  // height: $header-height;

  a {
    @include link-style($light-grey, white)
  }

  .active {
    color: white;
  }

  .navbarMenu {
    margin-bottom: 0;
    // background: $dark-grey;

    @include mobile {
      li {
        display: block;
      }
    }

  }
  .hamburger {
    display: none;

    @include mobile {
      display: block;
    }
  }

  .hidden-xs {
    @include mobile {
      display: none;
    }
  }

  .logo {
    float: left;
    margin: $space-base;
    svg {
      width: 13rem;
      fill: $light-grey;
    }
  }
}
