.sinlgePoem svg{
  position: absolute;
  left: 0;
}

.createView .poemTopLeft{
  font-size: .7em;
}

.poemTopLeft{
  position: relative;
  z-index: 10;
}

.poemText{
  text-align: center;

}

.sinlgePoem.link.createBtn {
  background: white;
  border: dashed;
}

.createView .sinlgePoem{
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

.poemShowPage .sinlgePoem{
  float: none !important;
  margin: auto;
}


.poemDisplay{
  /*width:1100px;*/
  margin:auto;
}

.poemDisplay li{
  /*list-style-type: none;*/
  display: inline-block;
  vertical-align: top;
  /*float: left;*/
}


.poemFooter {
  position: absolute;
  bottom: 0;
  width: 92%;
  text-align: center;
  background: black;
  color: white;
  padding: 0 4%;
}
.poemFooter span{
  display: inline !important;
}

.poemTopLeft{
  text-align: left;
  color: white;
  /*background: rgba(0,0,0,.1);*/
  padding: .2em;
  /*font-weight: 500;*/
}

.poemTopLeft span {
  opacity: 1;
}


.poemDisplay li{
  animation-duration: 4s;
  animation-name: example;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}
.poemDisplay ul{
  text-align: left;
  margin: auto;
  padding: 0;
}


.createBtn{
  font-size: 4em;
  line-height: 2em;
  color: rgba(0,0,0, .2);
  text-align: center;
}
.createBtn:hover{
  color: rgba(0,0,0, .5);
}
