@import "../variables";

.is-selected {
  background: yellow;
}

.poem {
  width: $poem-width;
  height: $poem-height;
  background: #555;
  padding: $space-base;
  margin: $space-base;
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
}

.one-poem-view {
  .poem {
    width: $poem-width * 2;
    height: $poem-height * 2;
    font-size: $font-size-base * 2;
  }
}

.poem-footer {
  font-size: $font-size-xs;
  margin-top: $space-sm;
}
