/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 body{
   font-family: 'Avenir Next';
   text-align: center;
 }

 h1{
   // font-family: 'Sacramento', cursive;
   margin-bottom: 0;
 }

 .content{
   margin: auto;
 }

 .poemText{

 }

 .sinlgePoem{
   color: rgba(0, 0, 0, .2);
   font-size: 19px;
   width: 300px;
   height: 300px;
   padding: 20px;
   background: #EEE;
   background: #dcd5cb;
   font-family: 'American Typewriter';
   margin: 10px;
   float: left;
   position: relative;
   background-image: url("paper-square.jpg");
 }

 .newPoem span{
   cursor: pointer;
 }

 .createView{
   width: 700px;
   margin: auto;
 }

button{
   font-size: 2em;
   cursor: pointer;
   border-radius: 10px;
   color: white;
 }

 .toolbar{
   display: inline-block;
   margin: 20px;
 }

 .authorName{
   color: darkred;
 }

 .userInfo{
   position: absolute;
   right: 100px;
 }

 .userInfo li{
   display: inline;
   float: left;
 }

 .username {
   float: right;
   position: absolute;
   right: 100px;
   font-size: 20px;
 }

 .name{
   cursor: pointer;
   color: darkred;
 }

 .name:hover{
   color: red;
 }

 .poemDisplay li{
   /*list-style-type: none;*/
   display: inline;
   float: left;
 }

 .deleteBtn, .editBtn{
   cursor: pointer;
   padding: 5px;
   display: inline !important;
 }

.poemFooter{
  display: inline !important;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 300px;
}
 .createView .sinlgePoem span {
     cursor: pointer;
 }

 .centered{
   /*background: lightblue;*/
 }

 .centered span{
   display: none;
   line-height: 3em;
   vertical-align: middle;
 }

 .selected{
   color: black;
   display: inline !important;
 }

 .authorName span{
   display: inline;
 }

 .bookTitle{
   display: inline;
 }

 .slider{
   width: 15px;
   height: 30px;
   background: red;
 }


 .style2{
   -webkit-filter: saturate(2) hue-rotate(100deg) contrast(1.5);
 }

 .style3{
   -webkit-filter: saturate(2) hue-rotate(180deg) contrast(2);
 }

 .style4{
   -webkit-filter: invert(1);
 }

 .style5{
   -webkit-filter: saturate(2) hue-rotate(90deg) invert(1) contrast(.9);
 }

 .style6{
   -webkit-filter: contrast(1.5);
 }

 .style7{
   -webkit-filter: brightness(70%) contrast(3) hue-rotate(-20deg);
 }

 .style8{
   -webkit-filter: contrast(1.5);
 }

 .style9{
   -webkit-filter: brightness(70%) contrast(4) hue-rotate(-40deg);
 }

 .style10{
   -webkit-filter: blur(1px) contrast(1.2) hue-rotate(30deg);
 }
