/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
 font-family: 'Avenir Next';
 text-align: center;
}

h1{
 // font-family: 'Sacramento', cursive;
 margin-bottom: 0;
}

.content{
 margin: auto;
}

.poemText{

}

.sinlgePoem{
 font-size: 16px;
 width: 300px;
 height: 420px;
 padding: 20px;
 background: #dcd5cb;
 font-family: 'Lora', serif;
 margin: 10px;
 float: left;
 position: relative;
 background: url("paper-rect.jpg")
}

.createView .sinlgePoem, .poemShowPage .sinlgePoem{
  width: 450px;
  height: 650px;
  font-size: 1.5em;
}

.poemShowPage .sinlgePoem{
  text-align: center;
  float: none !important;
  margin: auto;
}

.createView{
 width: 900px;
 margin: auto;
}

button{
 font-size: 2em;
 cursor: pointer;
 border-radius: 10px;
 color: white;
}

.toolbar{
 display: inline-block;
 margin: 20px;
}

.authorName{
 color: darkred;
}

.o{
 position: absolute;
 right: 100px;
 top: 10px;
 text-align: right
}

.userInfo li{
 display: inline;
 float: left;
}

.userInfo {
 float: right;
 text-align: right;
 position: absolute;
 z-index: 100;
 right: 100px;
 font-size: 20px;
}

.dropDown{
  text-align: right;
}
 .likeNotfications{
  font-size: .8em;

 }

.logout{
  background: grey;
  color: white !important;
}
.logout:hover{
  background: black;
  color: white !important;
}

.userNav, .notifications{
 padding: 2px;
 background: white;
 border: solid 1px black;
}

.name{
 cursor: pointer;
 color: darkred;
}

.name:hover{
 color: red;
}

.poemDisplay li{
 /*list-style-type: none;*/
 display: inline;
 float: left;
}

.deleteBtn, .editBtn{
 cursor: pointer;
 padding: 5px;
 display: inline !important;
}

.poemFooter{
  display: inline !important;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}

.poemFooter span{
  display: inline !important;
}

.poemTopLeft{
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(0, 0, 0, .3);

}


.createView .sinlgePoem span {
   cursor: pointer;
}

.write .sinlgePoem span.selected {
 background: rgba(255,255,0,.5);
}

.sinlgePoem .poemText{
 color: rgba(0, 0, 0, .2);
 line-height: .95em;
}

.poemText .selected{
 color: black;
 display: inline !important;
}

.write .sinlgePoem span:hover {
   cursor: pointer;
   color: #2eb8b8;
}

.write .sinlgePoem span.selected:hover {
   color: #e60073;
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered .poemText span{
 display: none;
 line-height: 3em;
 vertical-align: middle;
}


.authorName span{
 display: inline;
}

.bookTitle{
 display: inline;
}

.link{
  color: red;
  cursor: pointer;
}

.link:hover{
  color: darkred
}

.subtleLink{
  cursor: pointer;
}

.header{
  cursor: pointer;
  text-align: left;
}

.timeAgo{
  cursor: default;
  color: rgba(0, 0, 0, .3);
}

.app{
  margin: 0 50px;
}

main{
  margin-top: -50px;
}

.createBtn{
  font-size: 4em;
  line-height: 2em;
  color: rgba(0,0,0, .2);
}
.createBtn:hover{
  color: rgba(0,0,0, .5);
}

.guestLogin{
  display: inline;
}

.login, .signup{
  font-size: 1.5em;
}
.login button, .signup button{
  font-size: 1.5em;
}
