/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


body{
 font-family: 'Avenir Next';
 text-align: center;
}

h1{
 // font-family: 'Sacramento', cursive;
 margin-bottom: 0;
 background: url("poemist-logo-cut.png");
 background-size: 222px 75px;
 width: 222px;
 height: 75px;
}

.content{
 margin: auto;
}
.transperent{
  color: rgba(0,0,0,0);
}

.poemText{
  text-align: center;

}

.sinlgePoem{
 font-size: 16px;
 width: 300px;
 height: 480px;
 padding: 15px;
 background: #dcd5cb;
 font-family: 'Lora', serif;
 margin: 10px;
 display: inline-block;
 /*float: left;*/
 position: relative;
 z-index: 0;
 background: url("paper-rect-contrast-2.jpg");
}

.createView .sinlgePoem, .poemShowPage .sinlgePoem{
  width: 600px;
  height: 960px;
  font-size: 2em;
}

.sinlgePoem.link.createBtn {
    background: white;
    border: dashed;
}

.createView .sinlgePoem{
  box-shadow: 3px 3px 4px rgba(0,0,0,0.1);
  z-index: 10;
}

.poemShowPage .sinlgePoem{
  float: none !important;
  margin: auto;
}

.createView{
 width: 650px;
 margin: auto;
}

.button, .slider input{
 font-size: 1.5em;
 cursor: pointer;
 margin: 0 0 10px 0px;
 background: black;
 background: url("dark-blue-paper-tile.jpg");
 color: white;
 font-weight: lighter;
 border: none;
 padding: .1em;
 -webkit-touch-callout: none;
 -webkit-user-select: none;
 -khtml-user-select: none;
 -moz-user-select: none;
 -ms-user-select: none;
 user-select: none;
}

.bigger{
 font-size:3em;
 cursor: pointer;
}

.toolbar{
 display: inline-block;
 float: right;
 text-align: left;
 position: fixed;
 margin-left: -10px;
 margin-top: 30px;
}

.slider input{
  width: 1em;
  font-size: 1em;
  border: none;
  text-align: center;
}

.createPoem{
  display: inline-block;
}
.createPoem .singlePoem{
  float: none;
}

.authorName{
 color: darkred;
}

.userInfo li{
 display: inline;
 float: left;
}

.userInfo {
 float: right;
 text-align: right;
 position: absolute;
 z-index: 100;
 right: 50px;
 font-size: 20px;
}

.dropDown{
  text-align: right;
}
 .likeNotfications{
  font-size: .8em;

 }

.logout{
  /*background: grey;
  color: white !important;*/
}
.logout:hover{
  /*background: black;
  color: white !important;*/
}

.dropDown{
  background: #EEE;
  padding: 5px;
  font-size: .7em;
}

.dropDown div{
  padding: 0 10px;
}

.dropDown div.newLike{
  opacity: 1;
  background: yellow;
}

.hasNotifications{
  color: red;
}

.name{
 cursor: pointer;
 color: darkred;
}

.name:hover{
 color: red;
}

.poemDisplay{
  /*width:1100px;*/
  margin:auto;
}

.poemDisplay li{
 /*list-style-type: none;*/
 display: inline-block;
 vertical-align: top;
 /*float: left;*/
}

.deleteBtn, .editBtn, .zoomBtn{
 cursor: pointer;
 padding: 2px;
 display: inline !important;
}

.poemFooter{
  margin-top: 1em;
position: absolute;
bottom: 0;
bottom: 1em;
width: 100%;
}
/*.poemFooter {
    margin-top: 1em;
    position: absolute;
    bottom: 0;
    bottom: 0;
    border: solid 1px;
    /* border-top: none; */
    width: 100%;
    left: 0;
    background: url("dark-blue-paper-tile.jpg");
    color: white;
  }*/
.poemFooter span{
  display: inline !important;
}

.poemTopLeft{
  text-align: left;
  color: rgba(0, 0, 0, .5);
}
.poemTopLeft span:hover{
  color: red;
}

.sinlgePoem .poemText{
 color: rgba(0, 0, 0, .2);
 line-height: .95em;
}

.poemText{
  margin-top: 1em ;
}
.createView.write span.selected {
 background: rgba(255,255,0,.5);
}

.noSelect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.centered .poemText span{
 display: none;
 line-height: 3em;
 vertical-align: middle;
}
.centered .poemText span.selected{
 display: inline;
}


.authorName span{
 display: inline;
}

.bottomMiddle span{
 display: inline;
 cursor: default;
 margin: 0 2px;
 color: black
 opacity: .5;
}

.likes{
  display: inline-block;
  cursor: pointer;
}

.link{
  color: red;
  cursor: pointer;
}

.link:hover{
  color: darkred
}

.subtleLink{
  cursor: pointer;
}

.header{
  cursor: pointer;
  text-align: left;
}

.app{
  margin: 0 50px;
}

main{
  margin-top: -50px;
}

.createBtn{
  font-size: 4em;
  line-height: 2em;
  color: rgba(0,0,0, .2);
  text-align: center;
}
.createBtn:hover{
  color: rgba(0,0,0, .5);
}

.guestLogin{
  display: inline;
}

.login, .signup{
  font-size: 1.5em;
}
.login button, .signup button{
  font-size: 1.5em;
}

span.myLikes{
  color: red;
}

.likes{
  color: rgba(0,0,0,.2);
  cursor: pointer;
}

.clear-fix{
  clear: both;
}

.hidden{
  display: none;
}

.notSelected{
  opacity: .3;
}

.write .sinlgePoem span.selected {
 background: rgba(255,255,0,.5);
 color: black;
}
.write .poemText span{
  background: none;
  color: rgba(0, 0, 0, 0.2);
}

.poemText .selected{
  color: black;
}

.selectByWord span, .selectByLetter span{
  cursor: pointer;
}
.selectByWord .word:hover span.selected{
  color: red!important;
}
.selectByLetter span span.selected:hover{
  color: red;
}
.selectByWord .word:hover span{
  color: cyan!important;
}
.selectByLetter span span:hover{
  color: cyan;
}
.spinner{
  display: none;
  width: inherit!important;
}
.show{
  display: block!important;
}

span.notifications.subtleLink{
  width: 25px;
  height: 25px;
  margin-left: 2px;
  display: inline-block;
  text-align: center;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  border-radius: 50px;
  background: #EEE;
  color: white;
}
span.notifications.subtleLink.hasNotifications{
  background: red;
}

.dropDown .link{
  color: darkred;
}
.dropDown .logout:hover{
  background: white;
}

.description{
  font-style: italic;
  opacity: .5;
}

textarea, input{
  font-size: 1em;
}

textarea{
  height: 100px;
}

.fixedLogin {
    /* fixed position a zero-height full width container */
    position: fixed;
    top: 0; /* or whatever position is desired */
    left: 0;
    right: 0;
    height: 0;
    /* center all inline content */
    text-align: center;
    z-index: 100;
    background: rgba(0,0,0,.5);
    width: 100%;
    height: 100%;
}

.fixedLogin .loginWindow {
    /* make the block inline */
    display: inline-block;
    /* reset container's center alignment */
    margin: auto;
    background: white;
    padding: 10px;
    position: relative;
    top: 200px;
    width: 300px;
}

.fixedLogin .loginWindow div{
  display: block;
}

.loginErrors {
    color: red;
}
input[type="submit"], button {
    font-size: 1em;
    background: inherit;
}

.newPeomAdded{
  opacity: 0;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
}

.poemDisplay li{
  animation-duration: 4s;
  animation-name: example;
  transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -webkit-transition: opacity 0.4s ease-in;
}
.poemDisplay ul{
  text-align: left;
  margin: auto;
  padding: 0;
}
