@media (max-width:800px) {
   body{
     /*background: red;*/
   }
   .createView {
    margin: 0;
  }
   .createView .toolbar{
     position: inherit;
     margin-left: 0;
     text-align: center;
     width: 100%;
  }
   .createView .toolbar .button{
     margin: .2em;
     display: inline-block!important;
     width: 300px;
     font-size: 1.5em;
     font-weight: 400;
  }
  .createView .toolbar .bigger{
    font-size: 3em;
    width: 613px;
  }

  .sinlgePoem.link.createBtn {
    height: 100%;
    padding-bottom: 1.5em;
    line-height: 1em;
    font-size: 2em;
}


 }
