w// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.poemTopLeft, .poemFooter{
  position: absolute;
  z-index: 100;
}

.poemText{
  position: relative;
  z-index: 50;
  padding: .5em;
}

.style0 .poemText > span{
  color: rgba(0, 0, 0, .1);
  // opacity: .1
}

.style0 .poemText .selected{
  color: rgba(0, 0, 0, 1);
  opacity: 1
}
// .style1 .poemText{
//   color: rgba(0, 0, 0, .1);
// }

.createView .sinlgePoem, .poemShowPage .sinlgePoem{
  width: 560px;
  height: 1030px;
  font-size: 2em;
}

.createView .backgroundImg, .poemShowPage .backgroundImg{
  width: 560px;
  height: 1030px;
}

.sinlgePoem{
  width: 280px;
  height: 530px;
}

.backgroundImg{
  width: 280px;
  height: 560px;
}
.backgroundImg{
    content: "";
    background: url("paper-rect-contrast-2.jpg");
    display: block;
    position: absolute;
    z-index: -10;
    margin-top: -15px;
    // width: 100%;
    // height: 100%;
  }

.sinlgePoem{
  font-size: 16px;
  margin: 10px;
  display: inline-block;
  position: relative;
  z-index: 0;
  overflow: hidden;
}


span.selected span {
  position: relative;
}


.centered .poemText > span{
 display: none;
 line-height: 3em;
 vertical-align: middle;
}
.centered .poemText span.selected{
 display: inline;
}


.style1 .backgroundImg, .style1 .poemText{
  -webkit-filter: hue-rotate(-30deg) contrast(1.2);
  filter: hue-rotate(-30deg) contrast(1.2);
}
.style1 .selected{
}
.style2 .backgroundImg, .style2 .poemText{
 -webkit-filter: hue-rotate(-70deg) contrast(1.5);
 filter:hue-rotate(-70deg) contrast(1.5);
}
.style3 .backgroundImg, .style3 .poemText{
 -webkit-filter: saturate(2) brightness(100%) contrast(1.5);
 filter: saturate(2) brightness(100%) contrast(1.5);
}
.style3 .selected{
 background:  #ffcc99;
}
.style4 .backgroundImg, .style4 .poemText{
 -webkit-filter: invert(100%);
 filter: invert(100%);
}
.style4 .poemFooter, .style4 .poemTopLeft{
  color: white;
}
.style5 .backgroundImg, .style5 .poemText{
 -webkit-filter: saturate(2) hue-rotate(90deg) invert(100%) contrast(.9);
 filter: saturate(2) hue-rotate(90deg) invert(100%) contrast(.9);
}
.style5 .poemFooter, .style5 .poemTopLeft{
  color: white;
}

.style5 .poemText > span{
  color: rgba(0,0,0,0)
}
.style5 .poemText > span.selected{
  color: rgba(0,0,0,1)
}

.style6 .backgroundImg, .style6 .poemText{
 -webkit-filter: brightness(70%) contrast(3) hue-rotate(-20deg);
 filter: brightness(70%) contrast(3) hue-rotate(-20deg);
}
.style6 .poemText > span{
  color: rgba(0,0,0,0)
}
.style6 .poemText > span.selected{
  color: rgba(0,0,0,1)
}


.style7 .backgroundImg, .style13 .poemText{
 -webkit-filter: brightness(70%) contrast(3) hue-rotate(120deg);
 filter: brightness(70%) contrast(3) hue-rotate(120deg);
}
.style7 .selected{
  background: rgba(255,0,0,.5);
  border-radius: .2em;
}

.style8 .backgroundImg, .style8 .poemText{
 -webkit-filter: contrast(1.5);
 filter: contrast(1.5);
}
.style8 .poemText .selected{
  background: url("paper-rect-contrast-2.jpg");
   position: relative;
   z-index: 1;
   opacity: 1;
   padding: 0;
   margin: 0;
}
.style8 .poemText > span{
 background: rgba(0,0,0,.8);
 padding: 3px;
  margin: -3px;
}
.style10 .backgroundImg{
 -webkit-filter: contrast(3) saturate(30%);
 filter: contrast(3) saturate(30%);
}
.style10 .poemText > span{
  border-top: solid .2em;
  border-bottom: solid .2em;
  margin: -.1em 0;
  color: black
}
.style10 .poemText > span.selected{
  // background: url("paper-rect-contrast-2.jpg");
  background: white;
  position: relative;
  color: red;
  border: solid rgba(0,0,0,0);
  border: 0;
  margin: 0 -.2em;
  padding: 0 .2em;
}


.style11 .backgroundImg {
  content: "";
  background: white;
// background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSJvcmFuZ2UiPjwvcmVjdD4KPHBhdGggZD0iTTI4IDY2TDAgNTBMMCAxNkwyOCAwTDU2IDE2TDU2IDUwTDI4IDY2TDI4IDEwMCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZWQiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8cGF0aCBkPSJNMjggMEwyOCAzNEwwIDUwTDAgODRMMjggMTAwTDU2IDg0TDU2IDUwTDI4IDM0IiBmaWxsPSJub25lIiBzdHJva2U9InJlZCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
  background-image: url("congruent_pentagon.png");
  background-size: 50%;
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -15px;
  width: 200%;
  height: 200%;
}
.style11 .selected {
  background: peru;
  color: white !important;
  padding: .2em 1em;
  margin: -.2em -1em;
}

.style9 .backgroundImg, .style9 .poemText{
 -webkit-filter: blur(.5px) contrast(1.2) hue-rotate(30deg);
 filter: blur(.5px) contrast(1.2) hue-rotate(30deg);
}
.style9 .selected{
  background: rgba(90, 135, 88, .6);
  color: white;
 -webkit-filter: contrast(1.2) hue-rotate(30deg);
 filter: contrast(1.2) hue-rotate(30deg);
}



.style13 .backgroundImg {
  content: "";
  background: white;
// background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSJvcmFuZ2UiPjwvcmVjdD4KPHBhdGggZD0iTTI4IDY2TDAgNTBMMCAxNkwyOCAwTDU2IDE2TDU2IDUwTDI4IDY2TDI4IDEwMCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZWQiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8cGF0aCBkPSJNMjggMEwyOCAzNEwwIDUwTDAgODRMMjggMTAwTDU2IDg0TDU2IDUwTDI4IDM0IiBmaWxsPSJub25lIiBzdHJva2U9InJlZCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
  background-image: url("contemporary_china.png");
  background-size: 50%;
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -15px;
  width: 200%;
  height: 200%;
}
.style13 .textColor{
  -webkit-filter: none !important;
  filter: none;
}
.style13 .selected {
  text-decoration: underline;
  text-shadow: rgba(0,0,0,1) .05em .02em 0px;
}

.poemShowPage .style13:before, .createView .style13:before{
  background-size: 50%;
}


.style12 .backgroundImg, .style12 .poemText{
  -webkit-filter: hue-rotate(110deg) saturate(.5);
 filter: hue-rotate(110deg) saturate(.5);
}

.style12 .poemText{
  background: yellow;
}
.style12 .selected{
  background: url("paper-rect-contrast-2.jpg");
  padding: 3px 8px;
  margin: -3px -8px;
  border-radius: 25px;
}
.style14 .backgroundImg {
    content: "";
    background: gray;
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB3aWR0aD0iNjAiIGhlaWdodD0iMzAiPgo8ZGVmcz4KPHJlY3QgaWQ9InIiIHdpZHRoPSIzMCIgaGVpZ2h0PSIxNSIgZmlsbD0iI2JiMDg1ZiIgc3Ryb2tlLXdpZHRoPSIyLjUiIHN0cm9rZT0iIzdhMDU0ZCI+PC9yZWN0Pgo8ZyBpZD0icCI+Cjx1c2UgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8dXNlIHk9IjE1IiB4bGluazpocmVmPSIjciI+PC91c2U+Cjx1c2UgeT0iMzAiIHhsaW5rOmhyZWY9IiNyIj48L3VzZT4KPHVzZSB5PSI0NSIgeGxpbms6aHJlZj0iI3IiPjwvdXNlPgo8L2c+CjwvZGVmcz4KPHVzZSB4bGluazpocmVmPSIjcCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMCAtMjUpIHNrZXdZKDQwKSI+PC91c2U+Cjx1c2UgeGxpbms6aHJlZj0iI3AiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDMwIDApIHNrZXdZKC00MCkiPjwvdXNlPgo8L3N2Zz4=");
    background-size: 100%;
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
  }
.style14 .textColor{
  -webkit-filter: none !important;
  filter: none;
}

.poemShowPage .style14:before, .createView .style14:before{
  background-size: 100%;
}
.style14 .selected{
  background: white;
}


.style15 .selected{
  border: solid 3px;
  margin: -3px;
  background: url("paper-rect-contrast-2.jpg");
  margin: 0px -8px;
  border-radius: 30px;
  padding: 1px 5px;
  z-index: 20
}
.style15 .backgroundImg:before {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: repeating-linear-gradient(
      45deg,
      #000,
      #000 10px,
      rgba(0,0,0,0) 10px,
      rgba(0,0,0,0) 20px
    );
    // background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
  }
.poemShowPage .style15 .backgroundImg:before, .createView .style15 .backgroundImg:before{
  background: repeating-linear-gradient(
    45deg,
    #000,
    #000 20px,
    rgba(0,0,0,0) 20px,
    rgba(0,0,0,0) 40px
  );
  }

  .style16 .backgroundImg, .style16 .poemText{
    // -webkit-filter: contrast(1.2) hue-rotate(80deg);
    // filter: contrast(1.2) hue-rotate(80deg);
  }
  .style16 .selected{
    border: solid 3px;
    margin: -3px;
    background: white;
  }
  .style16 .backgroundImg:before {
      content: "";
      background: gray;
      display: block;
      position: absolute;
      z-index: 0;
      width: 100%;
      height: 100%;
      opacity: .4;
      background-color: silver;
      background-image: radial-gradient(circle at 100% 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 0 150%, silver 24%, white 25%, white 28%, silver 29%, silver 36%, white 36%, white 40%, transparent 40%, transparent), radial-gradient(circle at 50% 100%, white 10%, silver 11%, silver 23%, white 24%, white 30%, silver 31%, silver 43%, white 44%, white 50%, silver 51%, silver 63%, white 64%, white 71%, transparent 71%, transparent), radial-gradient(circle at 100% 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent), radial-gradient(circle at 0 50%, white 5%, silver 6%, silver 15%, white 16%, white 20%, silver 21%, silver 30%, white 31%, white 35%, silver 36%, silver 45%, white 46%, white 49%, transparent 50%, transparent);
      background-size: 100px 50px;
    }
  .poemShowPage .style16 .backgroundImg:before, .createView .style16 .backgroundImg:before{
      background-size: 200px 100px;
    }

.style17 .poemText .selected{
  position: relative;
  z-index: 100;
  color: white;
  background: black;
}
.style17 .poemText, .style17 .backgroundImg{
  -webkit-filter:  contrast(2);
  filter:          contrast(2);
}


.style17 .poemText .selected:before{
  content: "";
  position: absolute;
  // background: rgba(30, 30, 30, 0.1);
  height: 1000px;
  width: 1000px;
  border: black solid .1em;
  /* padding: 10px; */
  z-index: 50;
  margin: -.2em 0;
}

.style18 .poemText .selected:before{
  content: "";
  position: absolute;
  /* background: red; */
  width: 100%;
  height: 1.22em;
  border: .2em solid;
  /* padding: 10px; */
  z-index: -50;
  margin: -.35em -.18em
}
.style18 .poemText .selected{
  background: yellow;
}
.style18 .backgroundImg{
  -webkit-filter:  contrast(1.8);
  filter:          contrast(1.8);
}

.style19 .backgroundImg {
  content: "";
  background: white;
// background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI1NiIgaGVpZ2h0PSIxMDAiPgo8cmVjdCB3aWR0aD0iNTYiIGhlaWdodD0iMTAwIiBmaWxsPSJvcmFuZ2UiPjwvcmVjdD4KPHBhdGggZD0iTTI4IDY2TDAgNTBMMCAxNkwyOCAwTDU2IDE2TDU2IDUwTDI4IDY2TDI4IDEwMCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSJyZWQiIHN0cm9rZS13aWR0aD0iMiI+PC9wYXRoPgo8cGF0aCBkPSJNMjggMEwyOCAzNEwwIDUwTDAgODRMMjggMTAwTDU2IDg0TDU2IDUwTDI4IDM0IiBmaWxsPSJub25lIiBzdHJva2U9InJlZCIgc3Ryb2tlLXdpZHRoPSIyIj48L3BhdGg+Cjwvc3ZnPg==");
  background-image: url("swirl_pattern_big.png");
  background-size: 50%;
  display: block;
  position: absolute;
  z-index: 1;
  margin-top: -15px;
  margin-left: -15px;
  width: 200%;
  height: 200%;
}
.style19 .textColor{
  // -webkit-filter: none !important;
  // filter: none;
}
.style19 .selected {
  background: black ;
  color: white !important;
  padding: .5em 1em;
  margin: -.5em -1em;
  border-radius: 3em;
}

.style19 .selected {
  background: orange;
  // color: black;
}

.style19 .color0 .selected {
  background: black;
  color: white;
}


.poemShowPage .style19:before, .createView .style19:before{
  background-size: 50%;
}

.color3{
  -webkit-filter:  hue-rotate(30deg);
  filter:          hue-rotate(30deg);
}
.color6{
  -webkit-filter:  hue-rotate(60deg);
  filter:          hue-rotate(60deg);
}
.color9{
  -webkit-filter:  hue-rotate(90deg);
  filter:          hue-rotate(90deg);
}
.color12{
  -webkit-filter:  hue-rotate(120deg);
  filter:          hue-rotate(120deg);
}
.color15{
  -webkit-filter:  hue-rotate(150deg);
  filter:          hue-rotate(150deg);
}
.color18{
  -webkit-filter:  hue-rotate(180deg);
  filter:          hue-rotate(180deg);
}
.color21{
  -webkit-filter:  hue-rotate(210deg);
  filter:          hue-rotate(210deg);
}
.color24{
  -webkit-filter:  hue-rotate(240deg);
  filter:          hue-rotate(240deg);
}
.color27{
  -webkit-filter:  hue-rotate(270deg);
  filter:          hue-rotate(270deg);
}
.color30{
  -webkit-filter:  hue-rotate(300deg);
  filter:          hue-rotate(300deg);
}
.color33{
  -webkit-filter:  hue-rotate(330deg);
  filter:          hue-rotate(330deg);
}
