// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
  font-family: 'Helvetica';
  text-align: center;
}

h1{
  color: white;
  // font-family: 'Sacramento', cursive;
}

.poemText{

}

.selected{
  background: yellow;
}

.newPoem{
  font-size: 22px;
  width: 400px;
  height: 400px;
  line-height: 2em;
  padding: 30px;
  background: #EEE;
  margin: auto;
  background: #dcd5cb;
  font-family: 'American Typewriter';
  // background-image: image-url("paper-square.jpg");
}
