@mixin ease-out($attr, $seconds) {
  transition: $attr $seconds ease-out;
  -ms-transition: $attr $seconds ease-out;
  -moz-transition: $attr $seconds ease-out;
  -webkit-transition: $attr $seconds ease-out;
}
@mixin ease-out-two($attr1, $attr2, $seconds) {
  transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in;
  -ms-transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in;
  -moz-transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in;
  -webkit-transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in;
}
@mixin ease-out-three($attr1, $attr2, $attr3, $seconds) {
  transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in, $attr3 $seconds ease-in;
  -ms-transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in, $attr3 $seconds ease-in;
  -moz-transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in, $attr3 $seconds ease-in;
  -webkit-transition: $attr1 $seconds ease-in, $attr2 $seconds ease-in, $attr3 $seconds ease-in;
}

$blue: #009DDB;

main{
  @include ease-out-three(-webkit-filter, filter, opacity, .2s);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

main.pre-loading{
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}
h2, .hint {
  @include ease-out-three(-webkit-filter, filter, width, .2s);
  -webkit-filter: blur(0px);
  filter: blur(0px);
}

h2.pre-loading, .hint.pre-loading{
  color: rgba(0,0,0,0);
  opacity: 0;
  -webkit-filter: blur(5px);
  filter: blur(5px);
}

#pleaseWait{
  @include ease-out(opacity, .3s);
}

.fadeOut{
  opacity: 0;
}

.createBtn{
  @include ease-out(color, .1s);
}
.link{
  @include ease-out(color, .2s);
  color: $blue;
  font-weight: 500;
  cursor: pointer;
}

.link:hover{
  color: darkred;
}

.poemTopLeft span, .likes{
  opacity: .5;
  @include ease-out(opacity, .3s);
}
.poemTopLeft span:hover, .likes:hover{
  opacity: 1
}

.selectByWord span, .selectByLetter span{
  cursor: pointer;
}
.selectByWord .word:hover span.selected,
.selectByLetter span span.selected:hover{
  // background: rgba(255,0,0,.2)!important;
  color: red;
  background: yellow;
  @include ease-out(color, .2s);
  // @include ease-out(background, .4s);
}
.selectByWord .word:hover span,
.selectByLetter span span:hover{
  @include ease-out(color, .2s);
  color: $blue;
}

.nudge{
  @include ease-out(width, .2s);
}

.poemText.pre-loading{
  // opacity: 0;
  -webkit-filter: blur(20px);
}
.poemText{
  @include ease-out(-webkit-filter, 3s);
    // opacity: 1;
  -webkit-filter: blur(0px);
}

.createPoem{
  position: relative;
  top: 0;
  left: 0;
  @include ease-out(top, .6s);
}

// .createPoem.pre-loading{
//   top: -1300px;
// }

.toolbar{
  @include ease-out(margin-left, .6s);
}

.toolbar.pre-loading{
  opacity: 0;
  margin-left: -200px;
}
.createView.write{
  @include ease-out(opacity, .6s);
}

.createView.write.pre-loading{
  opacity: 0;
}

.dropDown{
  @include ease-out(height, .6s);
}

.backgroundImg{
  @include ease-out-two(filter, -webkit-filter, .2s);
}

.poemText{
  @include ease-out-three(filter, -webkit-filter, background, .2s);
}

.poemText span{
  @include ease-out-two(background, color, .2s);
}

.fixedLogin{
  @include ease-out-two(background, color, .2s);
}


.newPeomAdded{
  opacity: 0;
  transition: opacity 0.4s ease-out;
  -ms-transition: opacity 0.4s ease-out;
  -moz-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
}
