// @import '../node_modules/font-awesome/scss/font-awesome.scss';

$space-sm: 5px;
$space-base: 15px;

$poem-width: 250px;
$poem-height: 600px;

$font-size-xs: 12px;
$font-size-base: 16px;
$font-size-lg: 26px;

$header-height: 80px;

$paper-img: '../../images/paper-rect-contrast.jpg';

$light-grey: #BBB;
$dark-grey: #333;

$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
  @media (max-width: #{$mobile-width - 1px}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$mobile-width}) and (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop-width}) {
    @content;
  }
}

@mixin link-style($color, $hover-color) {
  color: $color;

  &:hover {
    // color: $hover-color;
    // text-decoration: none;
  }

  &:visited{
    text-decoration: none;
  }

  &:active{
    text-decoration: none;
  }

  &:focus{
    text-decoration: none;
  }
}

@mixin button-style {
  background: #333;
  border: 0;
  color: white;

  &:hover {
    background: black;
    color: white;
    text-decoration: none;
  }
}
