@import 'src/variables';

.close-up-poem-view {
  text-align: center;
  width: $poem-width * 2;
  margin: auto;
  .poem {
    margin: 0;
  }
}

// .help-image {
//   background: url("../../example-clicking.gif");
//   width: 100px;
//   height: 100px;
// }