@import "src/variables";

.is-selected {
  background: orange;
}

.poem {
  width: $poem-width;
  background: url('../../images/paper-rect-contrast.jpg');
  padding: $space-base;
  margin: $space-base;
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
}

.close-up-poem-view {
  .poem {
    width: $poem-width * 2;
    font-size: $font-size-base * 2;
  }
}

.poem-footer {
  font-size: $font-size-xs;
  margin-top: $space-sm;
}
