@import 'src/variables';
@import './_styles';

.is-selected {
  position: relative; // for zindex
  background: yellow;
}

.not-selected {
  color: rgba(0, 0, 0, 0.2);
}

.poem {
  width: $poem-width;
  padding: $space-base;
  margin: $space-base;
  display: inline-block;
  vertical-align: text-top;
  text-align: center;
  position: relative; // for absolute overflow styles
  overflow: hidden;

  @include mobile {
    width: 100%;
  }
}

.close-up-poem-view {
  .poem,
  .background-img {
    width: $poem-width * 2;
    height: 100%;
    padding: $space-base * 2;
    font-size: $font-size-base * 2;
  }
  .background-img {
    margin: -$space-base * 2;
  }
}

.background-img {
  content: '';
  background: url($paper-img);
  position: absolute;
  width: $poem-width;
  height: $poem-height;
  z-index: -10;
  margin: -$space-base;
  padding: $space-base;
}

.poem-footer {
  font-size: 0.7em;
  margin-top: $space-sm;
}
