@for $i from 1 through 36 {
  .color-#{$i} {
    filter: hue-rotate(#{10*$i}deg);
  }
}

@mixin selected-padding() {
  padding: $space-sm $space-base;
  margin: -$space-base;
}
@mixin selected-padding-sm() {
  padding: 0 $space-base;
  margin: -$space-base;
}

.style-1 {
  .background-img {
    filter: contrast(1.2);
  }
  .not-selected {
    color: rgba(0, 0, 0, 0.2);
  }
}

.style-2 {
  .background-img {
    filter: contrast(1.2);
  }
  .not-selected {
    opacity: 0;
  }
}

.style-3 {
  .background-img {
    filter: invert(100%);
  }
  .is-selected {
    color: white;
  }
}

.style-4 {
  .background-img {
    background: url('../../images/tree-bark.jpg');
  }
  .is-selected {
    color: white;
    background: red;
    @include selected-padding;
  }
}

.style-5 {
  .background-img {
    background: red;
  }
  .is-selected {
    background: url($paper-img);
    border-radius: $space-base;
    @include selected-padding;
  }
}

.style-6 {
  .not-selected {
    background: black;
  }
}

.style-7 {
  .background-img {
    background: url('../../images/contemporary_china_small.png');
  }
  .is-selected {
    text-shadow: black 0.05em 0.02em 0;
  }
}

.style-8 {
  background: white;
  .is-selected {
    background: pink;
    &:before {
      content: '';
      position: absolute;
      height: 1em;
      width: 1000px;
      border: 2px solid;
      margin-top: -2px;
      margin-left: -2px;
    }
  }
}

.style-9 {
  .background-img {
    background: white;
  }
  .not-selected {
    color: black;
    border-top: solid 0.2em;
    border-bottom: solid 0.2em;
  }
  .is-selected {
    background: white;
    // @include selected-padding-sm;
  }
}

.style-10 {
  .background-img {
    background: url('../../images/congruent_pentagon_bright.png');
  }
  .is-selected {
    background: orange;
    color: white;
    @include selected-padding;
  }
}
