@import "src/variables";

.toolbar {
  text-align: left;
  position: fixed;
  margin-left: $poem-width * 2;
  margin-top: $space-base * 3;
  width: 160px;
  font-size: $font-size-lg;
}

.toolbar-tab {
  font-size: $font-size-base;
  background: #333;
  color: white;
  padding: 1rem;
  margin: $space-sm 0;
  display: inline-block;
  text-align: left;

  &-lg {
    font-size: $font-size-lg;
  }
}

.toolbar-tab-btn {
  @include button-style;
}
