.letter {
  cursor: pointer;
}

.selecting-by-word .word:hover .letter,
.selecting-by-letter .letter:hover {
  // background: rgba(255, 255, 0, .7);
  color: cyan;
  &.is-selected {
    color: red;
  }
}