@import "src/variables";

.poems-container {
  margin: auto;

  // center poem area so they can be align left on bottom but still centered
  @for $i from 1 through 12 {
    @media (min-width: $i * $poem-width + ($space-base*($i*2))) {
      width: $i * $poem-width + ($space-base*($i*2));
    }
  }

  @include mobile {
    width: 100%;
  };
}
