<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Poemist - Write a found poem</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="description" content="Poemist allows you to create, style, and share found poems online. Writing found poems are a great excercise to jump start the creative process and Poemist provides a simple way to do this.">
    <link rel='shortcut icon' href='favicon.ico' type='image/x-icon'/ >
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script
      src="//d2wy8f7a9ursnm.cloudfront.net/bugsnag-3.min.js"
      data-apikey="214db6a57048ffde1a893797dd8c87c5"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div id="react">
      react is broken
    </div>
  </body>
  <%= javascript_include_tag 'application' %>
</html>
